{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col">
            <h1>Gestion de stocks</h1>
            <p>
                <a href="{{url('admin.produit.form')}}" class="btn btn-info">Ajouter</a>
            </p>
            <!-- Ajouter un tableau en bootstrap -->
            <table class="table table-striped">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                {% for produit in produits %}
                    <tr>
                        <td><img src="{{asset('images/' ~ produit.image)}}" alt="" width="60" height="70"></td>
                        <td>{{produit.name}}</td>
                        <th>{{produit.price}}</th>
                        <th>{{produit.quantity}}</th>
                        <th><a href="#" class="btn btn-warning">Modifier</a>
                        <a href="#" class="btn btn-danger">Supprimer</a></th>
                    </tr>
                    <!-- {% for produit in produits %}
                    <tr>
                        <td>
                            <img src="{{asset('images/' ~ produit.image)}}" alt="" width="60" height="70">
                        </td>
                    </tr>
                    {% endfor %} -->
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
